<!-- this is the footer page -->
<div class="footer">
    
    <!-- this are my linkedin and github links  -->
    <a href="https://www.linkedin.com/in/amit-mungare-955391146/"> <p>@AmitMungare</p> </a>
    <a href="https://github.com/amitmungare"> <p>@github</p> </a>

</div>