
/* Dropdown Button */
.wdropbtn {
    background-color: white;
  }
  
  .wcolorred{
    background-color: rgb(242, 41, 88);
    color: white;
  }
  .wcolorgreen{
    background-color: aquamarine;
  
  }
    
    .wdropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .wdropdown-content {
      display: none;
      position: absolute;
      top:2px;
      background-color: #f1f1f1;    
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .wdropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  
    .wdropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .wdropdown:hover .wdropdown-content {display: block;}
    